*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #212529;
    font-weight: 700;
}

.speed-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color: #212529;
    border-radius: 8px;
}

#speed{
    font-size: 4rem;
}

.buttons-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
}

#start-button{
    
    background-color: #0d6efd;

}
#stop-button{
    display: none;
    background-color: #dc3545;
}
